.dark-mode {
    background-color: $grisOscuro;

    p,
    h1,
    h2,
    h3,
    h4 {
        color: $blanco;
    }

    .anuncio,
    .resumen-propiedad {
        background-color: $grisOscuro;

        .precio {
            color: $verde;
        }

        .icono {
            filter: invert(100%);
        }
    }

    blockquote {
        color: $blanco;
    }

    .formulario {

        label,
        p,
        legend {
            color: $gris;
        }

        input:not([type='submit']),
        textarea,
        select {
            background-color: $gris;
            color: $black;
            border: solid 1px solid $gris;
        }
    }

}