@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: $gris;
    border: darken($color: $gris, $amount: 5) solid 1px;

    .contenido-anuncio {
        padding: 2.5rem;
    }

    h3,
    p {
        margin: 0;
    }
}

.precio {
    color: $verde;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 1rem; // espacio entre cada icono
    max-width: 40rem;

    li {
        flex: 1;
        display: flex;
        align-items: center; // centra verticalmente el ícono y el número
        justify-content: center; // centra horizontalmente dentro del li

        img {
            flex: 0 0 3rem;
            margin-right: 0.5rem; // separación entre el ícono y el número
        }

        p {
            font-weight: $black;
            margin: 0; // elimina márgenes predeterminados del párrafo
        }
    }
}