.footer{
    padding: calc($separacion / 2) 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedor-footer{
        padding-top: calc($separacion / 2) ;
        margin: 0;
        left: 2rem;
    }
    a{
        color: $blanco;
        text-decoration: none;
        gap: 1rem;
    }

    .copyright{
        color: $blanco;
        text-align: center;
        margin: 0;
    }
  
}
