.prueba{
    text-align: center;
    text-transform: uppercase;
    padding: .5rem;
    margin: .5rem 0;
    color: white;

    &.error{       
        background-color:$rojo;
    }
    &.exito{
        background-color: $verde;
    }
}
table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;
    thead {
        background-color: $verde;
        color: white;
        th{
            padding: 1.5rem;            
        }
    }
    .imagen-tabla{
        display: block;
        margin: 0 auto;
        width: 15rem;
    }
    tbody{
        text-align: center;;
    }
}
.imagen-small{
    width: 25rem;
}